.background-primary-color{
    background-color: var(--primary-color);
}

.gradient-primary-color-bg{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,122,90,1) 35%, rgba(0,212,255,1) 100%);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.selected{
    background-color: var(--subordinate-color);
}

.margin-left-20{
    margin-left: 20px;
}

.margin-bot-20{
    margin-bottom: 20px;
}

.margin-left-10{
    margin-left: 10px;
}

.padding-left-20{
   padding-left: 20px;
}

.nav-item,
.logined-user,
.project
{
    padding: 8px 16px;
}

.bi{
    margin-right: 4px;
}

.user-img,
.project-logo
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }